$primary-color: rgb(36, 90, 53);
$secondary-color: rgb(151, 71, 143);
$tertiary-color: rgb(13, 56, 106);

body {
  font-family: 'Arial', sans-serif;
  background-color: lightblue;
}

h1 {
  color: $primary-color;
}
table{
  width: 85%;
  height: 100%;
  margin: 0 auto;
  border-collapse: collapse;
}
tr{
  text-align: center;
  th{
    white-space: nowrap;
    padding: 8px;
    color: $tertiary-color;
    font-weight: 600;
  }
}
tr:hover {
  background-color: rgb(247, 225, 158);
}
.table_title:hover{
  background-color: transparent;
}

button {
  padding: 5px 10px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

button:hover {
  background-color: $tertiary-color;
  transform: scale(1.05);
}

button:focus {
  outline: none;
}

button:active {
  background-color: $tertiary-color;
  transform: scale(0.98);
}
